[submodule "Spectrum/vendor/spdlog"]
	path = Spectrum/vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Spectrum/vendor/GLFW"]
	path = Spectrum/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Spectrum/vendor/imgui"]
	path = Spectrum/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Spectrum\\vendor\\glm"]
	path = Spectrum\\vendor\\glm
	url = https://github.com/g-truc/glm
